<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ペットの詳細</title>
<link rel="stylesheet" type="text/css" href="/team10/Team10CSS/Team10PetDetails.css">

<link rel="icon" href="favicon.ico" sizes="64x64">
</head>
<body>
	
	<div class="top-buttons-container">
		
	<form method="get" th:action="@{/team10/top}">
		<input type="submit" value="トップに戻る"/>
	</form>
	
	<form method="get" th:action="@{/team10/petlist}">
		<input type="submit" value="一覧に戻る"/>
	</form>
	
	</div>
		
    <h1 th:text="|${pet.petName}${pet.gender == 'オス' ? 'くん' : 'ちゃん'}の詳細|"></h1>
	
	<div class="petlistdetail-container">
	<table>
        <tr>
			<th>画像</th>
            <td>
                <img th:if="${pet.petImage}" th:src="@{/team10/petimages/{name}(name=${pet.petImage})}" alt="ペットの画像"/>
                <span th:unless="${pet.petImage}">画像なし</span>
            </td>
        </tr>
        <tr>
			<th>ペット名</th>
			<td th:text="${pet.petName}"></td>
		</tr>
        <tr>
			<th>性別</th>
			<td th:text="${pet.gender}"></td>
		</tr>
        <tr>
			<th>犬種</th>
			<td th:text="${pet.breedName}"></td>
		</tr>
        <tr>
			<th>メモ</th>
			<td th:text="${pet.memo}"></td>
		</tr>
        <tr>
			<th>誕生日</th>
			<td th:text="${pet.birthday != null} ? ${#temporals.format(pet.birthday, 'yyyy/MM/dd')} : '未登録'"></td>
		</tr>
    </table>

	
	<form method="post" th:action="@{/team10/peteditor/auth}">
	    <input type="hidden" name="petId" th:value="${pet.petId}"/>
	    <input type="password" name="petPass" placeholder="パスワードを入力"/>
	    <span th:if="${passError}" th:text="${passError}" style="color: red;"></span><br>
	    <input type="submit" name="action" value="編集する"/>
	    <input type="submit" name="action" value="削除する"/>
	</form>

	</div>


</body>
</html>