<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.olg">
<head>
<meta charset="UTF-8">
<title>登録ペット一覧</title>
</head>
<body>
	<h1>みんなのペット</h1>
	<form method="get" th:action="@{/team10/top}">
		<input type="submit" value="トップに戻る"/>
	</form>
	<table>
	    <th:block th:each="data : ${DataList}">
	        <tr th:object="${data}">
	            <td>
	                <img th:if="*{petImage}" th:src="@{/team10/petimages/{name}(name=*{petImage})}" width="200" alt="ペットの画像" />
	                <span th:unless="*{petImage}">画像なし</span>
	            </td>
	            <td th:text="*{petName}"></td>
	            <td>
	                <form method="post" th:action="@{/team10/petlist/details}">
	                    <input type="hidden" name="petId" th:value="*{petId}"/>
	                    <input type="submit" value="ペット詳細"/>
	                </form>
	            </td>
	        </tr>
	    </th:block>
	</table>
</body>
</html>