<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<title>ペット登録画面</title>
</head>

<body>

	<form method="post" th:action="@{/team10/petregister}" th:object="${team10PetRegister}"
		enctype="multipart/form-data">
		ペットの名前を入力
		<input type="text" th:field="*{petName}" />
		<br>
		<span th:if="${#fields.hasErrors('petName')}" th:errors="*{petName}" style="color:red;"></span>
		<br>
		ペットの画像を選択
		<input type="file" name="imageFile" accept="image/*" />
		<br>
		犬種を選択
		<select th:field="*{breedId}">
			<option value="">未選択（雑種など）</option>
			<option th:each="breed : ${breedList}" th:value="${breed.breedId}" th:text="${breed.breedName}">
			</option>
		</select>
		<span th:if="${#fields.hasErrors('breedId')}" th:errors="*{breedId}" style="color:red;"></span>
		<br>
		性別を入力
		<input type="radio" th:field="*{gender}" value="オス" /> オス
		<input type="radio" th:field="*{gender}" value="メス" /> メス
		<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color:red;"></span>
		<br>
		ペットの誕生日を入力
		<input type="date" th:field="*{birthday}" class="form-control-date">
		<span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color:red;"></span>
		<br>
		memoを入力<br>
		<textarea th:field="*{memo}" rows="4" cols="40" placeholder="ペットの特徴やメモを書く"></textarea>
		<span th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" style="color:red;"></span>
		<br>
		パスワードの設定
		<input type="password" th:field="*{petPass}" placeholder="パスワードを入力してください" />
		<span th:if="${#fields.hasErrors('petPass')}" th:errors="*{petPass}" style="color:red;"></span>
		<br>

		<input type="submit" value="送信" />

	</form>
	<br><br>
	<form method="get" th:action="@{/team10/top}">
		<input type="submit" value="トップへ戻る" />
	</form>

</body>

</html>