<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<title>ペット登録完了画面</title>
</head>

<body>
	<table border="1">

		<tr>
			<th>画像</th>
			<th>ペットID</th>
			<th>ペット名</th>
			<th>性別</th>
			<th>犬種</th>
			<th>メモ</th>
			<th>誕生日</th>
		</tr>

		<th:block th:each="data : ${DataList}">
			<tr th:object="${data}">
				<td>
					<img th:if="*{petImage}" th:src="@{/team10/petimages/{name}(name=*{petImage})}" width="200" alt="ペットの画像" />
					<span th:unless="*{petImage}">画像なし</span>
				</td>
				<td th:text="*{petId}"></td>
				<td th:text="*{petName}"></td>
				<td th:text="*{gender}"></td>
				<td th:text="*{breedName}"></td>
				<td th:text="*{memo}"></td>
				<td th:text="${data.birthday != null} ? ${#temporals.format(data.birthday, 'yyyy/MM/dd')} : '未登録'"></td>
			</tr>
		</th:block>
	</table>

</body>

</html>