<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<title>愛犬登録画面</title>
	<link rel="stylesheet" type="text/css" href="/team10/Team10CSS/Team10PetRegisterIn.css">
	<link rel="icon" href="favicon.ico" sizes="64x64">
</head>

<body>
	<form method="get" th:action="@{/team10/top}">
		<input type="submit" value="トップへ戻る" />
	</form>

	<div class="pet-register-container">
		<div class="textbox1">
			<div class="box-inner">
				<h2 class="title">愛犬の情報を登録してね</h2>
		</div>
	</div>

	<form method="post" th:action="@{/team10/petregisterOut}" th:object="${team10PetRegister}"
		enctype="multipart/form-data">
		<input type="hidden" th:field="*{petId}" />
		愛犬のお名前を入力
		<input type="text" th:field="*{petName}" />
		<span th:if="${#fields.hasErrors('petName')}" th:errors="*{petName}" style="color:red;"></span>
		<br>
		愛犬の画像を選択
		<input type="file" name="imageFile" accept="image/*" />
		<br>
		犬種を選択
		<select th:field="*{breedId}">
			<option value="">未選択（雑種など）</option>
			<option th:each="breed : ${breedList}" th:value="${breed.breedId}" th:text="${breed.breedName}">
			</option>
		</select>
		<span th:if="${#fields.hasErrors('breedId')}" th:errors="*{breedId}" style="color:red;"></span>
		<br>
		性別を入力
		<div class="radio-group">
			<input type="radio" th:field="*{gender}" value="オス" /> オス
			<input type="radio" th:field="*{gender}" value="メス" /> メス
			<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color:red;"></span>
		</div>
		<br>
		愛犬の誕生日を入力
		<input type="date" th:field="*{birthday}" class="form-control-date">
		<span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color:red;"></span>
		<br>
		memoを入力<br>
		<textarea th:field="*{memo}" rows="4" cols="40" placeholder="ペットの特徴やメモを書く"></textarea>
		<span th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" style="color:red;"></span>
		<br>
		編集用パスワードの設定
		<input type="password" th:field="*{petPass}" placeholder="パスワードを入力してください" />
		<span th:if="${#fields.hasErrors('petPass')}" th:errors="*{petPass}" style="color:red;"></span>
		<br>

		<input type="submit" value="送信" />

	</form>

	<br>

	</div>
</body>

</html>