<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" th:action="@{/team10/breedlist}">
	
	<h2>犬種一覧表</h2>
	<table border="1">
		<tr>
			<th>画像</th>
			<th>犬種</th>
			<th>詳細</th>
		</tr>
		<tr th:each="breed:${breeds}">
			<td><img th:src="@{/images/{filename}(filename=${breed.breedImage})}" width="100"></td>
			<td th:text="${breed.breedName}"></td>
			<td>
			    <form method="post" th:action="@{/team10/breedlist/details}">
			        <input type="hidden" name="breedId" th:value="${breed.breedId}" />
			        <input type="submit" name="breedlistdetails" value="詳細を見る" />
			    </form>
			</td>
		</tr>		
	</table>
</form>	
	
	<form method="get" th:action="@{/team10/main}">
		<input type="submit" value="トップへ戻る" />
	</form>	
	
</body>
</html>